@model IEnumerable<MVC_Lab.Models.ApplicationUser>

@{
    ViewBag.Title = "User Management";
}
<h2>@ViewBag.Title.</h2>

<table class="table registry__table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
        <th>@Html.DisplayNameFor(model => model.UserName)</th>
        <th></th>
    </tr>

    @foreach (var user in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => user.Email)</td>
            <td>@Html.DisplayFor(modelItem => user.UserName)</td>
            <td>
                @Html.ActionLink(
                    " ", "Edit", "User",
                    new { id = user.Id },
                    new { @class = "glyphicon glyphicon-edit" }
                )

                @Html.ActionLink(
                    " ", "Delete", "User",
                    new { id = user.Id },
                    new { 
                        onclick = "return confirm('Are you sure you want to delete the user')",
                        @class = "glyphicon glyphicon-trash"
                    }
                )
            </td>
        </tr>
    }
</table>